<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta charset="UTF-8"/>
<%= head -%>
<meta property="og:title" content="<%= title %>"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="<%= title %>"/>
<title><%= title %></title>
</head>
<body class="text-center">
<div class="container">
<main class="cover">
<h1>jpn.bible</h1>
<p class="lead">日本語フリー聖書ポータル</p>
<p class="lead">
<a href="/kougo/" class="btn btn-lg btn-primary">口語訳聖書<br/><small>1954/1955版</small></a>
</p>
</main>
</div>
</body>
</html>
