body {
    line-height: 2;
    text-align: justify;
}

h1, h2, h3 {
    margin: 1em 0 0.5em 0;
}

.verse-number {
    vertical-align: super;
    font-size: smaller;
}

.container {
    margin-top: 100px;
}

@font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: normal;
    src: url('/font/NotoSerifJP-Regular.woff2') format('woff2');
}

.verse-content {
    font-family: 'Noto Serif JP', serif;
}

/* fixme: remove these hacks! */
.verse-number {
    font-family: initial;
}

p {
    font-family: 'Noto Serif JP', serif;
}
/* fixme: end */
