:root {
    --main-font: 'Noto Serif CJK JP', 'Noto Serif JP', serif;
}

a:not(:hover) {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .navbar-brand img {
        filter: invert(1);
    }
}

body {
    line-height: 2em;
    text-align: justify;
}

h1, h2, h3 {
    margin: 1.5em 0 1em 0;
}

p {
    text-indent: 1em;
}

*[id] {
    scroll-margin-top: 5rem;
}

/* CSS hack to target only Fx */
@-moz-document url-prefix() {
    rt {
        margin-bottom: -0.6em;
    }
}

.verse-number {
    vertical-align: super;
    font-size: smaller;
}

.container-fluid {
    width: 90%;
}

.verse-content {
    font-family: var(--main-font);
}

/* fixme: remove these hacks! */
.verse-number {
    font-family: initial;
}

p {
    font-family: var(--main-font);
}
/* fixme: end */
