body {
    line-height: 2;
    text-align: justify;
}

h1, h2, h3 {
    margin: 1em 0 0.5em 0;
}

.verse-number {
    vertical-align: super;
    font-size: smaller;
}

.container {
    margin-top: 100px;
}

.verse-content {
    font-family: 'Noto Serif JP', serif;
}

p {
    text-indent: 1em;
}

/* fixme: remove these hacks! */
.verse-number {
    font-family: initial;
}

p {
    font-family: 'Noto Serif JP', serif;
}
/* fixme: end */

/*
 * fix hidden anchor behind navbar
 * https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033
 */
.chapter-title:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}
